/**
 * Make resume tacky!
 */
html.tacky { background: #000 url('bg.gif'); }
.tacky { color: #fff; font-family: 'Comic Sans MS', 'Marker Felt', cursive !important; }
    .tacky h1 { text-align: center; font-size: 80px; }
        .tacky h1:before,
        .tacky h1:after { display: inline-block; width: 128px; height: 128px; background: url('fire.gif'); content: ''; background-size: contain; }
    .tacky nav { float: none; position: static; width: auto; text-align: center; }
        .tacky nav ul { width: auto; margin: 0; }
        .tacky nav li { float: none; display: inline; width: auto; margin: 0; }
        .tacky nav a { color: #00f; text-decoration: underline; width: auto; }
        .tacky nav a:before { content: '| '; }
        .tacky nav li:first-child a:before { content: ''; }
    .tacky .current:before { display: inline-block; position: absolute; margin: 35px 0 0 -40px; width: 32px; height: 22px; background: url('new.gif'); content: ''; }
    .tacky section li:before { display: inline-block; position: absolute; margin: 5px 0 0 -20px; width: 14px; height: 16px; background: url('coin.gif'); content: ''; }
    .tacky footer { border: none; }
    .tacky footer:before { display: inline-block; margin-bottom: 32px; width: 100%; height: 40px; background: url('construction.gif') no-repeat center; content: ''; }
    .tacky footer:after { display: inline-block; margin-top: 32px; width: 100%; height: 40px; background: url('mac.gif') no-repeat center; content: ''; }

    .tacky header ul li { background-color: transparent; width: auto; display: inline-block; }
    .tacky header ul li a {  background-color: transparent; margin: 0; }

@media screen and (max-width: 860px) {
    .tacky header h1 { font-size: 40px; }
    .tacky h1:before,
    .tacky h1:after {  width: 64px; height: 64px;  }
}

@media screen and (max-width: 500px) {
    .tacky header h1 { font-size: 32px; }
    .tacky h1:before,
    .tacky h1:after {  width: 48px; height: 48px;  }
}
